<html>
    <body>
         <h1> Hello, world! - using template." </h1>
         <h2> IP Address: <%= node['ipaddress'] %></h2>
         <h2> Hostname: <%= node['hostname'] %></h2>
    </body>
</html>
